* {
  box-sizing: border-box;
  margin: 0; }

.background {
  background: url("../images/code-background.jpg") center/cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  filter: sepia(80%);
  z-index: -1; }

.main-header {
  display: flex;
  justify-content: space-between; }
  .main-header-image {
    margin-left: 1rem;
    margin-top: 1rem;
    width: 25%;
    height: auto;
    border-radius: 10px; }
    .main-header-image:hover {
      animation: flip-stuff 1s ease-out forwards; }

.main-section-p-large {
  margin-bottom: 1rem;
  color: white; }

.main-section-hr {
  overflow: visible;
  /* For IE */
  height: 10px;
  border-style: solid;
  border-color: white;
  border-width: 1px 0 0 0;
  border-radius: 20px; }
  .main-section-hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: white;
    border-width: 0 0 1px 0;
    border-radius: 20px; }

.main-section-p {
  color: white; }

.main-section-intro {
  background: rgba(0, 0, 0, 0.7);
  margin-top: 4rem;
  border: solid 3px rgba(0, 0, 0, 0.4);
  height: 8rem;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
  animation: move-up 1s ease-out forwards; }

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  border: 2.5px solid rgba(0, 0, 0, 0.5);
  margin-right: 1rem;
  margin-top: 1rem; }
  .toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0; }

@keyframes flip-stuff {
  0% {
    transform: rotateY(0); }
  50% {
    transform: rotateY(160deg); }
  100% {
    transform: rotateY(360deg); } }

@keyframes move-up {
  0% {
    transform: translateY(0); }
  33% {
    transform: translateY(-1.5rem); }
  100% {
    transform: translateY(-1rem); } }
