.header__main {
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(to right bottom, rgba(52, 62, 79, 0.9), rgba(63, 65, 68, 0.9)), url("../img/code-background.jpg");
  background-position: bottom; }
  .header__main-img {
    display: block;
    height: 25%;
    margin: auto;
    text-align: center;
    border-radius: 50%;
    transform: translateY(8rem);
    filter: grayscale(60%); }
  .header__main-links a {
    display: block;
    text-decoration: none;
    font-size: 20rem;
    color: white;
    text-align: center; }

.nav {
  position: fixed;
  background: linear-gradient(to right bottom, rgba(52, 62, 79, 0.8), rgba(63, 65, 68, 0.8));
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.3);
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .nav__items {
    list-style: none;
    display: flex; }
  .nav__item {
    margin: 0 2rem 0 2rem;
    animation: enter-left 1s 2s 1; }
    .nav__item a {
      text-decoration: none;
      font-size: 2rem;
      text-transform: uppercase;
      color: #d2d4d8;
      font-weight: bold; }
      .nav__item a:hover, .nav__item a:active {
        color: green;
        padding-bottom: .5rem;
        border-bottom: 4px solid #d2d4d8; }
  .nav__brand {
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    animation: enter-right 1s 2s 1;
    transition: all .2s; }
    .nav__brand:hover {
      transform: scale(1.1);
      outline: 4px solid #510006; }

.active {
  border-bottom: 4px solid #d2d4d8; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes enter-right {
  0% {
    transform: translateX(-100%) rotateZ(-10deg); }
  50% {
    transform: translateX(50%) rotateZ(10deg); }
  100% {
    transform: translateX(0) rotateZ(0); } }

@keyframes enter-left {
  0% {
    transform: translateX(100%) rotateZ(10deg); }
  50% {
    transform: translateX(-50%) rotateZ(-10deg); }
  100% {
    transform: translateX(0) rotateZ(0); } }

@keyframes grow {
  0% {
    transform: scale(2); }
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(0); } }
