.header {
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 255, 0.6), rgba(0, 128, 0, 0.6)), url("../img/code-background.jpg");
  background-position: bottom; }

.nav {
  position: fixed;
  background: #343e4f;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.3);
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .nav__items {
    list-style: none;
    display: flex; }
  .nav__item {
    margin: 0 2rem 0 2rem;
    animation: enter-left 1s 2s 1; }
    .nav__item a {
      text-decoration: none;
      font-size: 2rem;
      text-transform: uppercase;
      color: #d2d4d8;
      font-weight: bold; }
      .nav__item a:hover, .nav__item a:active {
        color: green;
        padding-bottom: .5rem;
        border-bottom: 4px solid #d2d4d8; }
  .nav__brand {
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #510006;
    animation: enter-right 1s 2s 1; }
    .nav__brand:hover {
      color: white; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes enter-right {
  0% {
    transform: translateX(-100%) rotateZ(-10deg); }
  50% {
    transform: translateX(50%) rotateZ(10deg); }
  100% {
    transform: translateX(0) rotateZ(0); } }

@keyframes enter-left {
  0% {
    transform: translateX(100%) rotateZ(10deg); }
  50% {
    transform: translateX(-50%) rotateZ(-10deg); }
  100% {
    transform: translateX(0) rotateZ(0); } }
