.header__main {
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(to right bottom, rgba(52, 62, 79, 0.9), rgba(63, 65, 68, 0.9)), url("../img/code-background.jpg");
  background-position: bottom; }
  .header__main-cont {
    padding-top: 12rem; }
  .header__main-img {
    display: block;
    height: 25%;
    margin: auto;
    border-radius: 50%;
    filter: grayscale(60%); }
    .header__main-img:hover {
      animation: color-me 1s ease-out forwards; }
  .header__main-links a {
    display: block;
    text-decoration: none;
    font-size: 15rem;
    color: white;
    text-align: center; }

.section__header {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10rem;
  font-weight: bold;
  text-decoration: underline; }

.nav {
  position: fixed;
  background: linear-gradient(to right bottom, rgba(52, 62, 79, 0.8), rgba(63, 65, 68, 0.8));
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.3);
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 100; }
  .nav__items {
    list-style: none;
    display: flex; }
  .nav__item {
    margin: 0 2rem 0 2rem;
    animation: enter-left 1s 2s 1; }
    .nav__item a {
      text-decoration: none;
      font-size: 2rem;
      text-transform: uppercase;
      color: #d2d4d8;
      font-weight: bold; }
      .nav__item a:hover, .nav__item a:active {
        color: black;
        padding-bottom: .5rem;
        border-bottom: 4px solid #d2d4d8; }
  .nav__brand {
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    animation: enter-right 1s 2s 1;
    transition: all .2s; }
    .nav__brand:hover {
      transform: scale(1.1);
      outline: 4px solid black;
      color: white; }

.active {
  border-bottom: 4px solid #d2d4d8; }

.section__about {
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 100rem;
  background-image: linear-gradient(to right bottom, rgba(52, 62, 79, 0.6), rgba(63, 65, 68, 0.6)), url("../img/laptop.jpg");
  background-size: cover;
  font-size: 1.2rem; }
  .section__about-box {
    width: 80%;
    margin: auto;
    margin-top: 8rem;
    border: 4px solid #3f4144;
    background: rgba(52, 62, 79, 0.3);
    color: white;
    font-size: 2rem;
    padding: 2rem; }
    .section__about-box:hover, .section__about-box:active {
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      border-color: black;
      animation: move-up 1s ease-out forwards;
      background: rgba(52, 62, 79, 0.8); }

.section__skills {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: linear-gradient(to right bottom, rgba(52, 62, 79, 0.6), rgba(63, 65, 68, 0.6));
  font-size: 1.2rem; }
  .section__skills-box {
    width: 80%;
    margin-top: 8rem;
    border: 4px solid #3f4144;
    background: rgba(52, 62, 79, 0.3);
    color: white;
    font-size: 2rem;
    padding: 2rem; }
    .section__skills-box-left {
      border-left: none; }
    .section__skills-box-right {
      border-right: none;
      text-align: right;
      margin-left: auto; }
    .section__skills-box:hover, .section__skills-box:active {
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      border-color: black;
      animation: move-up 1s ease-out forwards;
      background: rgba(52, 62, 79, 0.8); }

.section__portfolio {
  height: 100vh;
  padding-top: .5rem;
  background-color: gray; }
  .section__portfolio-cont {
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    justify-content: space-evenly; }
  .section__portfolio-items {
    width: 10rem;
    height: 10rem;
    border: 4px solid #3f4144;
    border-radius: 50%;
    background: rgba(52, 62, 79, 0.3);
    color: white;
    font-size: 2rem; }

.section__contact {
  height: 100vh;
  padding-top: .5rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes enter-right {
  0% {
    transform: translateX(-100%) rotateZ(-10deg); }
  50% {
    transform: translateX(50%) rotateZ(10deg); }
  100% {
    transform: translateX(0) rotateZ(0); } }

@keyframes enter-left {
  0% {
    transform: translateX(100%) rotateZ(10deg); }
  50% {
    transform: translateX(-50%) rotateZ(-10deg); }
  100% {
    transform: translateX(0) rotateZ(0); } }

@keyframes grow {
  0% {
    transform: scale(2); }
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(0); } }

@keyframes color-me {
  0% {
    filter: grayscale(40%);
    transform: scale(1.05) translateY(-1rem); }
  50% {
    filter: grayscale(20%);
    transform: scale(1.1) translateY(-2rem); }
  100% {
    filter: grayscale(0%);
    transform: scale(1.15) translateY(0rem); } }

@keyframes move-up {
  0% {
    transform: translateY(0); }
  33% {
    transform: translateY(-1.5rem); }
  100% {
    transform: translateY(-1rem); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.btn-text {
  margin: auto;
  text-transform: uppercase; }
  .btn-text:link, .btn-text:visited {
    font-size: 2rem;
    color: #d2d4d8;
    text-decoration: none;
    border: 1px solid #d2d4d8;
    padding: 3px;
    transition: all .2s;
    width: 15%; }
  .btn-text:hover {
    background-color: rgba(196, 200, 206, 0.3);
    color: #343e4f;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    border-color: #343e4f; }
  .btn-text:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0); }
