.nav {
	position: fixed;
	background: linear-gradient(
      to right bottom,
       rgba($color-gray-primary, 0.8),
       rgba($color-gray-secondary, 0.8));
	box-shadow: 2px 2px 6px 2px rgba(0,0,0,0.3);
	height: 6rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around; 

	
	&__items {
		list-style: none;
		display: flex;
		
	}
	&__item {
		
		margin: 0 2rem 0 2rem;
		animation: enter-left 1s 2s 1;
		// transform: translateX(30rem); 



		& a {
			text-decoration: none;
			font-size: 2rem;
			text-transform: uppercase;
			color: rgb(210, 212, 216);
			font-weight: bold;
			&:hover,
			&:active {
				color: green;
				// background-color: white;
				padding-bottom: .5rem;
				border-bottom: 4px solid rgb(210, 212, 216);
				// animation: wiggle 400ms 1s infinite ease-out;
			}


		}
	}
	&__brand {
		text-decoration: none;
		font-size: 2.5rem;
		font-weight: bold;
		text-transform: uppercase;
		// color: rgb(81, 0, 6);
		//change to a different black
		color: black;
		animation: enter-right 1s 2s 1;
		transition: all .2s;

		&:hover {
			transform: scale(1.1);
			// transform: skewY(-7deg);
			outline: 4px solid rgb(81, 0, 6); 

		}

	}
}

.active {
	border-bottom: 4px solid rgb(210, 212, 216);

}




