.section__skills {
	display: flex;
	flex-direction: column;

	height: 100%;
	// position: relative;
	height: 100rem;

	// background-color: gray;

     background-image: linear-gradient(
        to right bottom,
        //  rgba($color-gray-primary, 0.9),
        // rgba($color-gray-secondary, 0.9)),
        rgba($color-gray-primary, 0.6),
        rgba($color-gray-secondary, 0.6));
    // width: 100vw;
    // height: 100vh;
    font-size: 1.2rem;
    &-box {


    width: 80%;
        // height: 20%;
        margin-top: 8rem;
        //need better solution
        // transform: translateY(4rem);
        border: 4px solid $color-gray-secondary;
        // position: relative;
        background: rgba($color-gray-primary, 0.3);

        color: white;
        font-size: 2rem;
        padding: 2rem;

            &-left {
                border-left: none;
            }
            &-right {
                border-right: none;
                text-align: right;
                margin-left: auto;
            }

            &:hover,
            &:active {
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            border-color: black;
            animation: move-up 1s ease-out forwards;
            background: rgba($color-gray-primary, 0.8);

        }

    }
}