@import "_variables";

* {
    box-sizing: border-box;
    margin: 0;

}


// body, html {
// 	height: 100%;
// }
// .container {
// 	display: grid;
// 	grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
// }
.background {
	background: url("../images/code-background.jpg") center/cover;
	width: 100vw;
    height: 100vh;
	position: fixed;
    // filter: grayscale(80%);
    filter: sepia(80%);
    z-index: -1;
}

.main-{
	&header {
	display: flex;
	justify-content: space-between;
	//maybe use a different animation
	// animation: move-up 1s ease-out forwards;
		&-image {
			margin-left: 1rem;
			margin-top: 1rem;
			width: 25%;
			height: auto;
			border-radius: 10px;
			// border: solid 2px map-get($colors, main);
			&:hover {
			animation: flip-stuff 1s ease-out forwards;
			}
		}
	}
	&section-intro {
		display: flex;
		justify-content: center;
		background: map-get($colors, main);
		margin-top: 4rem;
		border: solid 3px map-get($colors, secondary);
		height: 8rem;
		box-shadow: $default-shadow;
		animation: move-up 1s ease-out forwards;
	}
}
.toggle- {
	&button {
	width: 3rem;
	background: transparent;
	border: none;
	cursor: pointer;
	padding-top: 0;
	padding-bottom: 0;
	vertical-align: middle;
	// border: 2.5px solid darken(map-get($colors, hamburger));
	border: 2.5px solid rgba(0,0,0,0.5);	
	margin-right: 1rem;
	margin-top: 1rem;
		&__bar {
			width: 100%;
		  	height: 0.2rem;
		  	//temp darken
		  	// background: darken(map-get($colors, hamburger));
		  	background: black;
		  	display: block;
		  	margin: 0.6rem 0;
		}
	}
}

//make animation partial later

@keyframes flip-stuff {
	0% {
      transform: rotateY(0);
    }
    50% {
      transform: rotateY(160deg);
    }
    100% {
      transform: rotateY(360deg);
    }
 }
 @keyframes move-up {
    0% {
        transform: translateY(0);
    }
    33% {
        transform: translateY(-1.5rem)
    }
    100% {
        transform: translateY(-1rem);
    }
}
