.btn-text {
  margin: auto;
  text-transform: uppercase;

  &:link,
  &:visited {
    font-size: 2rem;
    color: $color-white;
    text-decoration: none;
    border: 1px solid $color-white;
    padding: 3px;
    transition: all .2s;
    width: 15%;
  }
  &:hover {
    background-color: rgba($color-light-gray, 0.3);
    color: $color-gray-primary;
    box-shadow: 0 1rem 2rem rgba(black, .15);
    transform: translateY(-2px);
    border-color: $color-gray-primary;

    }
  &:active {
    box-shadow: 0 .5rem 1rem rgba(black, .15);
    transform: translateY(0);
  }
}

@media (max-width: 40rem) {
    .btn-text {

      &:link,
      &:visited {

        width: 40%;
        }
 
    }
}